<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jessica Louisey</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/scripts.js" defer></script>
</head>
<body>
    <div class="about">
        <h1>{{ .Title }}</h1>

    <nav id="taskbar" aria-labelledby="taskbar">
        <div class="taskbar-item" id="start"><a href="/">Start</a></div>
        <div class="taskbar-separator"></div>
        <div class="taskbar-item"><a href="{{ "about/" | relURL }}">about</a></div>
        <div class="taskbar-item"><a href="{{ "fragments/" | relURL }}">fragmentarium</a></div>
        <div class="taskbar-item"><a href="{{ "posts/" | relURL }}">blog</a></div>
        <div class="taskbar-item"><a href="{{ "gallery/" | relURL }}">gallery</a></div>
        <div class="taskbar-item"><a href="{{ "contact/" | relURL }}">contact</a></div>
        <div class="taskbar-clock" id="current-time"></div>
    </nav>

        <main>
            {{ .Content }}
        </main>
    </div>
</body>
</html>
