<!DOCTYPE html>
<html lang="en">
<head><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
    <meta charset="UTF-8">
    <title>Jessica Louisey</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/scripts.js" defer></script>
</head> 
<div class="post-page" >
<h1>{{ .Title }}</h1>

    <div id="taskbar">
        <div class="taskbar-item"><a href="/">Start</a></div>
        <div class="taskbar-item"><a href="/about/">About</a></div>
        <div class="taskbar-item"><a href="/posts">Blog</a></div>
        <div class="taskbar-item"><a href="/gallery">Gallery</a></div>
        <div class="taskbar-item"><a href="/contact">Contact</a></div>
        <div class="taskbar-clock" id="current-time"></div>

    </div>
    <div id="desktop">
 
<ul>
  {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <p>Published on {{ .Date.Format "2 January, 2006" }}</p>
      <p>{{ .Summary }}</p>
    <hr>
    </li>
  {{ end }}
</ul>
</div>
</div>